<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__logo-wrap">
      <a class="footer__logo" href="#">
        <picture>
          <source srcset="img/logo-footer.webp 1x, img/logo-footer2x.webp 2x" type="image/webp">
          <img class="footer__logo-pic" src="img/logo-footer.png" srcset="img/logo-footer2x.png" width="186" height="58"
            alt="Figma land">
        </picture>
      </a>
    </div>

    <div class="footer__icons">
      <!-- ==================================== SOCIAL LIST ===================================== -->
      @@include('./social-list.html')
    </div>

    <div class="footer__text-wrap">
      <p class="footer__text">Just type what's on your mind and we'll</p>
    </div>
  </div>
</footer>
