<section class="preview-sect">
  <div class="preview-sect__wrap">
    <h1 class="preview-sect__title">Lightning fast prototyping</h1>

    <p class="preview-sect__text">
      Most calendars are designed for teams. Slate is designed for
      freelancers who want a simple way to plan their schedule.
    </p>

    <div class="preview-sect__decor">
      <div class="preview-sect__btn">
        <button class="button button-first">Try For Free</button>
      </div>
    </div>
    <div class="preview-sect__color">
      <div data-wow-delay="0.5s" class="preview-sect__photo wow bounceInDown"></div>
    </div>
  </div>
</section>
