<ul class="social-list">
  <li class="social-list__item">
    <a class="social-list__link" href="#" title="twitter">
      <i class="fab fa-twitter"></i>
    </a>
  </li>

  <li class="social-list__item">
    <a class="social-list__link" href="#" title="facebook">
      <i class="fab fa-facebook"></i>
    </a>
  </li>

  <li class="social-list__item">
    <a class="social-list__link" href="#" title="instagram">
      <i class="fab fa-instagram-square social-list__item-icon"></i>
    </a>
  </li>
</ul>
